.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: var(--brand-primary) !important;
}
.swiper-pagination-bullet-active {
    background: var(--brand-primary) !important;
}