body {
    font-family: 'inter', sans-serif;
}

// main {
//     margin-bottom: 94px;
// }

.container {
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 15px;
}

.none {
    display: none;
}

// .no-scroll {
//     overflow-y: hidden;
// }